venv/
__pycache__/
.git/
.gitignore

mlruns/
ollama/
models/

artifacts/vector_db/

*.pyc
*.pyo
*.pyd

.ipynb_checkpoints/

.env

node_modules/

dist/
build/

*.log

artifacts/

__pycache__/
*.pkl
*.faiss
data/