venv/
__pycache__/
*.pyc
logs/
*.log

artifacts/models/*.pth
artifacts/models/*.h5
artifacts/models/*.pkl

bert_results/
notebooks/catboost_info/

.env
.idea/
.vscode/

.DS_Store

artifacts/models/
artifacts/vector_db/
artifacts/vectorstore/
bert_results/

data/raw/
data/Processed/

*.pkl
*.pth
*.h5
*.faiss

